@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
}

.low-contrast {
    color: #E5E7EB;
}

header, .hero, footer {
    background-color: #1F2937;
}

header span{
    font-size: 24px;
    color: #F9FAF8;
}


.hero h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

header{
    display: flex;
    padding: 25px;
    justify-content: space-between;
}

ul{
    display: flex;
    gap: 10px;
    align-items: center;
}

.hero button{
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
}

.hero img{
    border: none;
    width: 500px;
}

.hero{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
}

.hero > div {
    margin-top: 10%;
}

.hero > div:first-child > h1 , .hero > div:first-child > p , .hero > div:first-child > button{
    margin: 20px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    height: 60vh;
}

.information > h2 {
    font-size: 36px;
    font-weight: extra=bold;
    color: #1F2937;
}

.img-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

figure {
    border:  #3882F6 solid;
    border-radius: 12%;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
    gap: 10;
}

figcaption{
    margin-top: 110%;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    text-align: center;
    padding: 200px;
}

.quote span {
    display: block;
    margin-top: 10px;
    margin-left: 60%;
    font-style: normal;
    font-weight: bold;
    color: #333;
}

.signup-section{
    padding: 100px;
}

.sign-up{
    padding: 50px 10px;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    display: flex;
    background-color: #3882F6;
    color: #E5E7EB;
    
}

.sign-up button {
    border: #E5E7EB solid;    
    color: #E5E7EB;
    background-color: #3882F6;
    height: 35px;
    width: 65px;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
}

